################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/thomerson.permission/.vs/thomerson.permission/v15
/thomerson.permission/thomerson.permission.Core/bin/Debug/netcoreapp2.0
/thomerson.permission/thomerson.permission.Core/obj
/thomerson.permission/thomerson.permission.Model/bin/Debug/netcoreapp2.0
/thomerson.permission/thomerson.permission.Model/obj
/thomerson.permission/thomerson.permission.Web/bin/Debug/netcoreapp2.0
/thomerson.permission/thomerson.permission.Web/obj
/thomerson.permission/thomerson.permission.portal/bin/Debug/netcoreapp2.0
/thomerson.permission/thomerson.permission.portal/obj
/thomerson.permission/Thomerson.Migrator/bin/Debug/netstandard2.0
/thomerson.permission/Thomerson.Migrator/obj
/thomerson.permission/thomerson.permission.ViewModel/bin/Debug
/thomerson.permission/thomerson.permission.ViewModel/obj/Debug
