################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/thomerson.permission/.vs/thomerson.permission/v15
